label {
    display: block;
    width: 100%;
    padding: 10px 0;
    text-align: left;
  }
  
  input {
    display: block;
    width: 100%;
    padding: 10px;
    outline: none;
    font-size: 1.2rem;
    border-top-left-radius: 0;
    border-bottom-left-radius: 12px;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 0;
    border: 1px solid black;
  }
  
  input[type="submit"] {
    width: 50%;
    margin-top: 25px;
    margin-left: auto;
    font-weight: 600;
  }
  
  #msg {
    margin-top: 4px;
    font-size: 15px;
    text-transform: capitalize;
  }
  
  a {
    display: block;
    text-decoration: none;
  }
  
  a:visited {
    color: inherit;
  }
  
  img,
  picture {
    width: 100%;
    display: block;
  }
  
  .container {
    max-width: 98rem;
    margin: 0 auto;
  }
  
  button {
    cursor: pointer !important;
  }
  
  .header {
    position: relative;
    top: 0;
    width: 100%;
    z-index: 1400;
    height: 4.4rem;
    background-color: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(2rem);
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo {
    font-size: xx-large;
    color: antiquewhite;
    cursor: default;
    text-transform: uppercase;
  }
  
  .nav {
    display: flex;
    align-items: center;
    font-size: large;
    gap: 10px;
  }
  
  .nav p {
    cursor: default;
  }
  
  .nav li {
    list-style: none;
  }
  
  .nav li a {
    color: antiquewhite;
    transition: all 500s;
  }
  
  .nav li a:hover {
    text-decoration: underline;
  }
  
  
  #signUpForm, #signInForm {
    max-width: 500px;
    width: 100%;
    padding: 20px;
    border-radius: 12px;
  }
  
  .form_title {
    font-size: 2.5rem;
  }
  
  .form_result{
    display: flex;
    align-items: center;
    gap: 5px;
  }
  
  .input_group {
    margin: 3px 0;
  }
  
  label .input_group {
    font-size: 1.2rem;
  }
  
  .card{
    max-width: 500px;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 2rem;
  
    /* Box Shadow for Card */
    box-shadow: 10px 10px 10px #d1d9e6, -10px -10px 10px #f9f9f9;
  }
  
  .card h1{
    font-size: 4rem;
    font-style: italic;
    margin-bottom: 2px;
    text-decoration: underline;
  }
  
  .card h3{
    font: 2em sans-serif;
    letter-spacing: 1px;
  }
  
  .card p{
    font: 1.5em sans-serif;
    letter-spacing: 1px;
  }
  
  .card .form_result span{
    font: 3.5em sans-serif;
    margin-left: 2rem;
  }

  #logout {
    cursor: pointer;
    color: #fff
  }