.card-wrapper .card-img img {
height: 220px;
}

.card-wrapper{
    max-width: 400px;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 10px;
    box-shadow: 10px 10px 10px #d1d9e6, -10px -10px 10px #f9f9f9;
}